* {
    --background-color: rgb(47, 79, 79);
    --global-padding: 0.025rem;
    --title-h1-size: 4rem;
    --title-h2-size: 1.8rem;
    --h1-font-size: 1.4rem;
    --h2-font-size: 1.3rem;
    --bdr-rad: 1rem;
    --bdr-cmp: 2px solid black;
}

/* reduces built in browser padding */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: var(--global-padding);
}

body {
    background-color: var(--background-color);
    font-family: sans-serif;
}

.app {
    display: grid;
    width: 99%;
    margin: 0 auto;
}